<!doctype html>
<html>
  <head>
    <title>When will Steven! be home?</title>
    <style>
      body { font-family: "Helvetica", sans-serif; font-size: 200%; }
      p.updated { font-size: 60%; }
    </style>
  </head>
  <body>
    <p>{{when}}</p>
    <p class="updated">Updated: {{updated_at}}</p>
  </body>
</html>
